*{
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: o;

}

:root{
    --main-text-family:'Franklin Gothic Medium'
--main-color:gray;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    color: blueviolet;
    background-color: var(--main-color);
}

nav ul li a{
    text-align: center;
    text-decoration: none;
    border-radius: 1px 2px 1px 2px;
    color: rgb(42, 165, 128);
    padding: 2px;
    margin: 10px;
    -webkit-border-radius: 1px 2px 1px 2px;
    -moz-border-radius: 1px 2px 1px 2px;
    -ms-border-radius: 1px 2px 1px 2px;
    -o-border-radius: 1px 2px 1px 2px;
}
footer section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}